@keyframes rotate2 {
  0%,
  100% {
    transform: rotate(0deg) translateZ(0);
  }

  25% {
    transform: rotate(30deg) translateZ(0);
  }

  75% {
    transform: rotate(-30deg) translateZ(0);
  }
}

.helpbutton {
  left: calc(60% + 12rem);

  &:active {
    transform: translate(1px, 1px);
  }

  :global(body.anim) & {
    &:hover,
    &:focus,
    &.windowactive {
      svg {
        animation: rotate2 2s linear infinite;
      }
    }
  }
}
