@keyframes rotate {
  from {
    transform: rotate(0deg) translateZ(0);
  }

  to {
    transform: rotate(360deg) translateZ(0);
  }
}

.prefbutton {
  left: 60%;

  :global(body.anim) & {
    &:hover,
    &:focus,
    &.windowactive {
      svg {
        animation: rotate 2s linear infinite;
      }
    }
  }
}
