@keyframes visible1by1-1-3 {
  0%,
  100%,
  33.32% {
    visibility: visible;
  }

  33.33%,
  99.99% {
    visibility: hidden;
  }
}

@keyframes visible1by1-2-3 {
  0%,
  100%,
  33.32% {
    visibility: hidden;
  }

  33.33%,
  66.65% {
    visibility: visible;
  }

  66.66%,
  99.99% {
    visibility: hidden;
  }
}

@keyframes visible1by1-3-3 {
  0%,
  100%,
  66.65% {
    visibility: hidden;
  }

  66.66%,
  99.99% {
    visibility: visible;
  }
}

.githubbutton {
  left: calc(60% + 15rem);

  &:active {
    transform: translate(1px, 1px);
  }

  & svg {
    :global(.el-0) {
      visibility: visible;
    }

    :global(.el-1) {
      visibility: hidden;
    }

    :global(.el-2) {
      visibility: hidden;
    }
  }

  :global(body.anim) & {
    &:hover,
    &:focus {
      svg {
        :global(.el-0) {
          visibility: hidden;
          animation: visible1by1-2-3 0.4s linear infinite;
        }

        :global(.el-1) {
          visibility: visible;
          animation: visible1by1-1-3 0.4s linear infinite;
        }

        :global(.el-2) {
          visibility: hidden;
          animation: visible1by1-3-3 0.4s linear infinite;
        }
      }
    }
  }
}
