@keyframes fly-cycle {
  100% {
    background-position: -900px;
  }
}
@keyframes fly-right-one {
  0% {
    transform: translateX(-10vw) scale(0.3) translateZ(0);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4) translateZ(0);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5) translateZ(0);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6) translateZ(0);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6) translateZ(0);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6) translateZ(0);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6) translateZ(0);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6) translateZ(0);
  }
}
.birdcontainer {
  html[data-noanime='true'] & {
    display: none;
  }
  position: absolute;
  top: 32%;
  left: -10%;
  transform: scale(0) translateX(-10vw) translateZ(0);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.birdcontainer1 {
  animation-duration: 15s;
  animation-delay: 0;
}
.birdcontainer2 {
  animation-duration: 15.5s;
  animation-delay: 1s;
}
.bird {
  background-image: url('../../../assets/img/bird.svg');
  background-size: auto 100%;
  width: 44px;
  height: 62.5px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}
.bird1 {
  animation-duration: 1s;
  animation-delay: -0.5s;
}
.bird2 {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}
.svg {
  position: absolute;
  top: 6px;
  left: -50px;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.5s ease-in-out;
}
.shown {
  opacity: 1;
}
.svgpath {
  fill: #fff;
  stroke: #000;
  stroke-width: 3;
}
.svgtext {
  font-size: 35px;
  font-weight: bold;
}
