@use '../../styles/_variables.scss' as *;

@keyframes explosion {
  100% {
    background-position: -4032px;
  }
}
@keyframes firework {
  100% {
    background-position: -7936px;
  }
}
.main {
  background-repeat: no-repeat;
  html[data-noanime='false'] & {
    will-change: background-position;
    animation-duration: #{$numberChangeVisualDuration}ms;
    animation-iteration-count: 1;
  }
}
.explosion {
  width: 192px;
  height: 192px;
  top: 0;
  left: 0;
  background-image: url('../../../assets/img/explosion.webp');
  html[data-noanime='false'] & {
    animation-name: explosion;
    animation-timing-function: steps(21);
  }
}
.firework {
  width: 256px;
  height: 256px;
  top: -300%;
  left: 1rem;
  background-image: url('../../../assets/img/firework.webp');
  html[data-noanime='false'] & {
    animation-name: firework;
    animation-timing-function: steps(31);
  }
}
