@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0, 0, 0, 0.55),
        0 5px 15px rgba(0, 0, 0, 0.4);
    }

    .text-shadow-stroke {
      text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black,
        1px -1px 0 black;
    }

    // .text-shadow-white {
    //   text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    // }

    // .text-shadow-md-white {
    //   text-shadow: 0 4px 8px rgba(255, 255, 255, 0.6), 0 2px 4px rgba(255, 255, 255, 0.4);
    // }

    // .text-shadow-lg-white {
    //   text-shadow: 0 15px 30px rgba(255, 255, 255, 0.55),
    //     0 5px 15px rgba(255, 255, 255, 0.4);
    // }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}

@font-face {
  font-family: 'FatNumber';
  src: url('../assets/font/FatNumber.woff2') format('woff2'),
    url('../assets/font/FatNumber.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../assets/font/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../assets/font/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
}

body {
  overflow: hidden;
}

@keyframes cardFlip {
  0% {
    transform: rotateZ(0deg) rotateY(180deg);
  }
  50% {
    transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
}

@keyframes cardUnFlip {
  0% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(180deg);
  }
}

body {
  perspective: 120vh;
}
