@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './custom-utilities';

@import './typography';

// html {
//   font-size: 100%;
// }

body {
  overflow: hidden;
  perspective: 120vh;
}

button[disabled='disabled'],
button:disabled {
  cursor: default;
}

// button,
// input[type='range'],
// input[type='checkbox'],
// input[type='radio'] {
//   appearance: none;

//   &:focus {
//     outline: none;
//     box-shadow: 0 0 2px 2px lime;
//   }
// }

a,
button,
input[type='checkbox'],
input[type='radio'],
input[type='text'],
input[type='number'],
select {
  appearance: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #40ffff;
  }
}

@import './anims';

@import './window';
@import './buttonbar';
