@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './custom-utilities';

@import './typography';

body {
  overflow: hidden;
  perspective: 120vh;
}

button[disabled='disabled'],
button:disabled {
  cursor: default;
}

// button,
// input[type='range'],
// input[type='checkbox'],
// input[type='radio'] {
//   appearance: none;

//   &:focus {
//     outline: none;
//     box-shadow: 0 0 2px 2px lime;
//   }
// }

a,
button {
  &:focus {
    outline: 1px solid #fff;
  }
}

@import './anims';

@import './window';
@import './buttonbar';
