@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0, 0, 0, 0.55),
        0 5px 15px rgba(0, 0, 0, 0.4);
    }

    .text-shadow-stroke {
      text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black,
        1px -1px 0 black;
    }

    // .text-shadow-white {
    //   text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    // }

    // .text-shadow-md-white {
    //   text-shadow: 0 4px 8px rgba(255, 255, 255, 0.6), 0 2px 4px rgba(255, 255, 255, 0.4);
    // }

    // .text-shadow-lg-white {
    //   text-shadow: 0 15px 30px rgba(255, 255, 255, 0.55),
    //     0 5px 15px rgba(255, 255, 255, 0.4);
    // }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}
