@font-face {
  font-family: 'FatNumber';
  src: url('../assets/font/FatNumber.woff2') format('woff2'),
    url('../assets/font/FatNumber.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../assets/font/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../assets/font/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
}
