@font-face {
  font-family: 'FatNumber';
  src: url('../assets/font/FatNumber.woff2') format('woff2'),
    url('../assets/font/FatNumber.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../assets/font/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../assets/font/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Erathian';
  src: url('../assets/font/Erathian-min.woff2') format('woff2'),
    url('../assets/font/Erathian-min.woff') format('woff');
  font-display: swap;
}

.fatnumber {
  font-family: 'FatNumber';
  font-weight: bold;
}

.robotocondensed {
  font-family: 'RobotoCondensed';
  font-weight: bold;
}

html[data-erathian='true'] {
  &,
  & * {
    font-family: 'Erathian';
    font-weight: bold;
  }
  .MuiTooltip-tooltip span {
    font-weight: normal;
  }
  .no-erathian,
  .no-erathian * {
    @apply font-sans;
    .erathian {
      font-family: 'Erathian';
    }
  }
}

.erathian {
  font-family: 'Erathian';
  font-weight: bold;
}

.erathian-normal {
  font-family: 'Erathian';
}
