@layer base {
  .window-bg {
    @apply absolute w-full h-full top-0 left-0 z-100 text-shadow overflow-auto flex justify-center items-center pointer-events-none;

    .window-outerwrapper {
      @apply max-w-screen-md p-6;
    }

    .window-wrapper {
      @apply bg-black bg-opacity-70 rounded-lg p-4 relative pointer-events-auto text-white;

      opacity: 1;
      animation-name: bounceInDown;
      animation-iteration-count: 1;
      animation-duration: 0.8s;
    }

    p {
      @apply py-2;
    }

    label {
      @apply flex flex-wrap w-full items-center mb-0.5 md:mb-2;

      &.one-colume {
        span {
          @apply w-1/2;
        }
        input[type='number'],
        input[type='text'],
        select {
          @apply w-1/2;
        }
      }
    }

    span {
      @apply text-right px-3 py-0.5 md:py-1;
      .p-0 {
        padding: 0;
      }
    }
    input[type='number'],
    input[type='text'],
    select {
      @apply transition-colors duration-500 bg-black bg-opacity-40 hover:bg-opacity-80 focus:bg-opacity-60 py-0.5 md:py-1;
    }

    input[type='number'] {
      &::-webkit-inner-spin-button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
      }
    }

    input[type='range'] {
      @apply cursor-pointer;
      appearance: slider-vertical;
    }

    .two-column {
      @apply flex flex-wrap;

      label {
        @apply w-full md:w-1/2;
      }

      span {
        @apply w-2/3;
      }
      input[type='number'],
      input[type='text'],
      select {
        @apply w-1/3;
      }

      &.half {
        span {
          @apply w-1/2;
        }
        input[type='number'],
        input[type='text'],
        select {
          @apply w-1/2;
        }
      }
    }

    select {
      @apply rounded-full cursor-pointer;
    }

    input[type='checkbox'],
    input[type='radio'] {
      &,
      & ~ * {
        @apply cursor-pointer;
      }
    }

    h3 {
      @apply text-white text-xl md:text-2xl font-bold;
    }

    h4 {
      @apply text-white text-lg md:text-xl font-bold mt-3 md:mt-5;
    }

    .button-wrapper {
      @apply flex justify-evenly flex-wrap mt-3 md:mt-5;
    }

    button {
      @apply transition-colors duration-500 text-white font-bold text-base md:text-lg py-2 px-4 border-b-4 rounded mb-1 bg-gray-500 hover:bg-gray-400 border-gray-700 hover:border-gray-500;
      &.warning {
        @apply bg-red-500 hover:bg-red-400 border-red-700 hover:border-red-500;
      }
      &.active {
        @apply bg-green-500 hover:bg-green-400 border-green-700 hover:border-green-500 border-b-0;
      }
      &.cancel {
        @apply bg-red-500 hover:bg-red-400 border-red-700 hover:border-red-500 absolute w-12 h-12 -top-6 -right-6 bg-no-repeat bg-contain bg-center;
        background-image: url('../assets/img/x.svg');
      }
    }
  }
}
